<div class="row header" xmlns="" xmlns="">
  <div class="col-md-4 left-header">
    <a routerLink="/home">Rybakówka</a>
  </div>
  <div class="col-md-8">
    <div class="row right-header">
      <div class="col col-md-5">
        Witaj, Dominik!
      </div>
      <div class="col-md-2 no-padding">
        <a routerLinkActive="active-link" routerLink="/employee">Pracownik</a>
      </div>
      <div class="col-md-2 no-padding">
        <a routerLinkActive="active-link" routerLink="/my-account">Moje konto</a>
      </div>
      <div class="col-md-1 no-padding">
        <a routerLinkActive="active-link" routerLink="/registration" title="Mój koszyk">
          <span style="color: #fffd83" class="glyphicon glyphicon-shopping-cart"></span>
        </a>
      </div>
      <div class="col-md-2 no-padding">
        <a routerLinkActive="active-link" routerLink="/login">Wyloguj</a>
      </div>
    </div>
  </div>
</div>
