<div class="row quote-box">
  <div class="col-md-4">
    <blockquote class="quote-style"
                [@elementState]="scrollimateOptions.myScrollimation1.currentState"
                [scrollimate]="scrollimateOptions.myScrollimation1">
      <p>Niesamowite miejsce! Idealne na wspólne popołudnie z całą rodziną!</p>
      <footer>Robert, 28 lat</footer>
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote class="quote-style"
                [@elementState]="scrollimateOptions.myScrollimation2.currentState"
                [scrollimate]="scrollimateOptions.myScrollimation2">
      <p>Super !!! Byłam pierwszy raz wczoraj, ale na pewno nie ostatni. Kajaki jak najbardziej na tak !!! :)</p>
      <footer>Asia, 32 lata</footer>
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote class="quote-style"
                [@elementState]="scrollimateOptions.myScrollimation3.currentState"
                [scrollimate]="scrollimateOptions.myScrollimation3">
      <p>Czegoś takiego było potrzeba u nas w Żerominie! Brawo za pomysł :)</p>
      <footer>Jan, 54 lata</footer>
    </blockquote>
  </div>
</div>
