$fb-color: #3b5998;
$instagram-color: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
$instagram-color-hover: radial-gradient(circle at 33% 100%, #fef295 4%, #f17a6a 30%, #d95696 62%, #af60b7 85%, #515ECF);
$twitter-color: #00aced;
$up-box-color: #337ab7;
$baner-color: rgba(79, 124, 246, 0.92);
$bg-color: #f9faeb;
