input, select {
  padding: 5px;
  margin: 3px 0;
}

label {
  margin: 8px 0;
  text-transform: uppercase;
}
.add-btn {
  padding-right: 10px;
}

.disabled-row{
  padding: 6px 0 0 5px;
}

.padding-top {
  padding-top: 85px;
}
